//Font types

$primary-font: $raleway;
$primary-font-regular: $raleway-regular;
$primary-font-bold: $raleway-bold;
$secondary-font: $oldStandard;
$secondary-font-regular: $oldStandard-regular;
$secondary-font-bold: $oldStandard-bold;

//Font sizes

$x-small-font:12px;
$small-font:14px;
$medium-font: 16px;
$large-font: 18px;
$x-large-font: 20px;
$xx-large-font: 30px;
$xxx-large-font: 50px;