//Mobile size

.button {
    text-decoration: none;
    border: none;
    margin: 15px 0;
    padding: 8px 17px;
    font-family: $primary-font;
    font-weight: $primary-font-bold;
    font-size: $medium-font;
    color: $smoky-black;
    background-color: $white;
    user-select: none;
    -webkit-appearance: button;
    border: 1.5px solid $smoky-black;
}


//Tablet size

@include respond-to($bp-md-tablet) {
    .button {
        padding: 8px 20px;
        margin-top: 20px;
    }
}


//Desktop size

@include respond-to($bp-xl-desktop) {
    .button {
        padding: 12px 30px;
        margin-top: 20px;
        font-size: $large-font;
    }
}