//Link google fonts

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap');

//Colors

$white: #FFF;
$isabelline: #ECECEC;
$ligth-gray: #D1D1D1;
$quick-silver: #646266;
$granite-gray: #646266;
$smoky-black: #0C0910;

//Fonts

$raleway: 'Raleway',
sans-serif;
$raleway-regular: 400;
$raleway-bold: 700;
$oldStandard: 'Old Standard TT',
serif;
$oldStandard-regular: 400;
$oldStandard-bold: 700;

//Break-points screen sizes

$bp-sm-mobile: 576px;
$bp-md-tablet: 768px;
$bp-xl-desktop: 1200px;